@import '../../styles/responsiveUtils.scss';

.homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .timeMainContainer {
    width: 100%;
    height: 1030px;
    display: flex;
    justify-content: space-between;
  }
}

@include mobile {
  .homeContainer {
    .timeMainContainer {
      flex-direction: column;
    }
  }
}
