@import '../../../styles/responsiveUtils.scss';

.roomUserListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  h3 {
    display: flex;
    align-items: center;
    margin-right: 10px;

    .nowPickUser {
      padding: 10px;
      font-size: 20px;
      font-weight: 700;
      color: #40a9ff;
    }
  }

  .pickedNameAndDelete {
    display: flex;
    align-items: center;
  }

  .roomUserBox {
    display: flex;
    justify-content: center;
    width: 130px;
    padding: 20px 0;
    .roomUserList {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@include mobile {
  .roomUserListContainer {
    margin-top: 10px;

    .roomUserBox {
      padding: 10px 0;
      .roomUserList {
      }
    }
  }
}
