@mixin blockSize {
  width: 70px;
  height: 35px;
  border: 1px solid black;
  transition: all 0.1s;

  &:hover {
    background-color: #adc6ff;
  }
}
// 255,192,203
.timeBlockColored {
  @include blockSize;
  background-color: rgba(255, 192, 203, 1);
}
.timeBlockAllUserSelect {
  @include blockSize;
  background-color: green;
}
.timeBlockGlass {
  @include blockSize;
}
.timeBlockSelected {
  @include blockSize;
  background-color: #adc6ff;
}

.oclock {
  border-bottom-style: none;
}

.minute30 {
  border-top-style: dashed;
}
