@import '../../../styles/responsiveUtils.scss';

.timeLineList {
  position: relative;
  top: -6px;
  right: 4px;
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: end;
  font-size: 13px;
  font-weight: 700;
}

@include mobile {
}
