@import '../../../styles/responsiveUtils.scss';

.timeResultContainer {
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .timeLineAndBlocks {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .alltimeBlocks {
      display: flex;
      justify-content: center;
      overflow-x: scroll;

      .timeBlock {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          width: 50px;
          height: 20px;
        }
      }
    }
  }
}

@include mobile {
  .timeResultContainer {
    width: 100%;

    .timeLineAndBlocks {
      .alltimeBlocks {
        justify-content: left;

        .timeBlock {
          h3 {
            position: sticky;
            position: -webkit-sticky;
            top: 0;
          }
        }
      }
    }
  }
}
