@import '../../../styles/responsiveUtils.scss';

.timeLineList {
  position: relative;
  top: -5px;
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
}

@include mobile {
}
