.timeResultContainer {
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  text-align: center;
  border: 1px solid black;
  overflow-x: hidden;

  .timeLineList {
    position: relative;
    top: -5px;
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
  }

  .timePerDateBox {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .timeBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      width: 50px;
      height: 20px;
    }
  }
}
