@mixin blockSize {
  width: 50px;
  height: 20px;
  border: 1px solid black;
  transition: all 0.1s;
}

.timeBlockColored {
  @include blockSize;
  opacity: 0.8;
  background-color: pink;

  &:hover {
    background-color: plum;
  }
}
.timeBlockAllUserSelect {
  @include blockSize;
  opacity: 0.8;
  background-color: green;

  &:hover {
    background-color: plum;
  }
}
.timeBlockGlass {
  @include blockSize;

  &:hover {
    background-color: plum;
  }
}
.timeBlockSelected {
  @include blockSize;
  background-color: pink;
  opacity: 0.1;
}
